%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .nav.navbar-nav.navbar-right
      = link_to new_product_path, class: 'btn btn-success navbar-btn add-product' do
        %i.glyphicon.glyphicon-plus &nbsp;New
.container
  .row
    .col-sm-12
      %h1.text-center.index-header Welcome! Please see your products below
    .col-sm-12
      - if flash[:success]
        #flash.success
          = flash[:success]
      - @products.each do |product|
        .col-lg-3.pull-left.clear-fix.index-product
          .product-box
            .index-price
              %h2.text-right
                %sup.index-dollar $
                = product.price
            %img.index-image{:alt => "#{product.name} Image", :src => product.product_image}
              %h4= product.name
              .index-description
                %p= product.description
              %p
                Qty: #{product.quantity}
              = link_to 'Edit', edit_product_path(product), class: 'btn btn-primary pull-right index-edit'



