.container
  .row
    .col-sm-12
      %img.macrabz.center-block{:alt => 'Macrabz Emporium', :src => '/assets/crabazon-8628bd93b3c6a1e22a76adc9b845ffc031364c942f3c059839c9484f94ef3eac.svg'}
      %h1.text-center.index-header We have more than crabs!
    .col-sm-12
      - @products.each do |product|
        .col-lg-3.col-md-4.col-sm-6-col-xs-12.pull-left.clear-fix.index-product
          .product-box.clickable-row{'data-url' => "/products/#{product.id}"}
            .index-price
              %h2.text-right
                %sup.index-dollar $
                = product.price.truncate
            %img.index-image{:alt => "#{product.name} Image", :src => product.product_image}
              %h4= product.name
              .index-description
                %p= product.description
            .product-button
              - if user_signed_in?
                - if product.quantity == 0 || session[:cart][product.id.to_s].to_i >= product.quantity.to_i
                  %button.btn.btn-primary-2.btn-lg.center-block.add-product-button{:id => "add_#{product.id}", :disabled => ""} Add to Cart
                - else
                  %button.btn.btn-primary-2.btn-lg.center-block.add-product-button{:id => "add_#{product.id}", 'data-toggle' => 'modal', 'data-target' => '#cart-modal'} Add to Cart
              - else
                = link_to 'Add to Cart', new_user_session_path, class:'btn btn-primary-2 btn-lg center-block'