.container
  .row
    .col-sm-12
      %img.macrabz.center-block{:alt => 'Macrabz Emporium', :src => '/assets/amacrabz-f090c51c8aa06149fcc20cb1c563d771075b1e63998352663694b5c9bd55ffb4.svg'}
      %h1.text-center.index-header We have more than crabs!
    .col-sm-12
      - @products.each do |product|
        .col-lg-3.col-md-4.col-sm-6-col-xs-12.pull-left.clear-fix.index-product
          .product-box.clickable-row{'data-url' => "/products/#{product.id}"}
            .index-price
              %h2.text-right
                %sup.index-dollar $
                = product.price.truncate
            %img.index-image{:alt => "#{product.name} Image", :src => product.product_image}
              %h4= product.name
              .index-description
                %p= product.description
              %p.index-categories
                - product.categories.sort_by_name.each do |category|
                  = link_to category.name, "/categories/#{category.id}"
              %button.btn.btn-primary.btn-lg.center-block.add-product-button{:id => "add_#{product.id}"} Add Product


