.container
  .row
    .col-sm-12
      %img.macrabz.center-block{:alt => 'Macrabz Emporium', :src => '/assets/amacrabz-441ad756cc9d68b8a8325c3b3b506020540646ca4271e19cf265e4157ae2c72b.svg'}
      %h1.text-center.index-header Online Emporium!
    .col-sm-12
      - @products.each do |product|
        .col-lg-3.col-md-4.col-sm-6-col-xs-12.pull-left.clear-fix.index-product
          .product-box.clickable-row{'data-url' => "/products/#{product.id}"}
            .index-price
              %h2.text-right
                %sup.index-dollar $
                = product.price
            %img.index-image{:alt => "#{product.name} Image", :src => product.product_image}
              %h4= product.name
              .index-description
                %p= product.description
              %p.index-qty
                Qty: #{product.quantity}
              %p.index-categories
                - product.categories.each do |category|
                  = link_to category.name, "/categories/#{category.id}"


