.container
  .row
    .col-sm-12
      %img.checkout-image.center-block{:alt => 'Macrabz Emporium', :src => '/assets/crabazon-f28845d00b5333dd7aee565e3d6881796a5c03a66e46a1ff13ba5dfb2cebdac1.svg'}
      %h1.text-center.index-header Order Checkout!
      %form
        %table#cart.table
          %thead
            %tr
              %th
              %th Product Name
              %th.text-center Price
              %th.text-center Quantity
              %th.text-center Total
          %tbody
            - session[:cart].each do |item|
              %tr
                - p product = Product.find(item[0])
                %td.admin-image= image_tag(product.product_image)
                %td= product.name
                %td.text-center= number_with_precision(product.price, precision: 2)
                %td
                  %input.form-control.order-qty.center-block{:name => "quantity_#{product.id}", :type => "number", :value => session[:cart]["#{product.id}"]}
                %td.text-center= number_with_precision((product.price * product.quantity), precision: 2)
                %td
                  %a.order-delete
                    %i.glyphicon.glyphicon-trash{:id => "trash_#{product.id}"}
        .order-checkout.pull-right
          %button#order-update.btn.btn-default{type: 'submit'} Update
          %button#order-checkout.btn.btn-primary Checkout