.container
  .row
    .col-sm-12
      %img.checkout-image.center-block{:alt => 'Macrabz Emporium', :src => '/assets/crabazon-f28845d00b5333dd7aee565e3d6881796a5c03a66e46a1ff13ba5dfb2cebdac1.svg'}
      %h1.text-center.index-header= "#{@user.name}'s Order History"
    .col-sm-12
      %table.table
        %thead
          %tr
            %th.text-center Order Number
            %th.text-center Order Date
            %th.text-center Order Total
        %tbody
          - @orders.each do |order|
            %tr
              %td.text-center
                = link_to "Order Number #{order.id}", order_path(order)
              %td.text-center= order.order_date.localtime.to_s(:long)
              %td.text-center= number_with_precision(order.total, precision: 2)
      

