.container-fluid
  .row
    .col-sm-12
      = link_to 'Back', admin_index_path, class: 'btn btn-success admin-buttons pull-right'
.container
  .row
    .col-lg-12
      = form_for @product, html: { class: 'form-horizontal center', id: 'edit-form' } do |f|
        %img.macrabz-admin.center-block{:alt => 'Macrabz Emporium', :src => '/assets/crabazon-8628bd93b3c6a1e22a76adc9b845ffc031364c942f3c059839c9484f94ef3eac.svg'}
        %h1.text-center.edit-header
          Edit #{@product.name}
        .col-lg-4.product-edit-image
          %img{:alt => "#{@product.name} Image", :src => @product.product_image}
        .col-lg-8.form-center
          - if flash[:error]
            #flash.error
              = flash[:error]
          .form-group
            = f.label :product_image, 'Image url:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :product_image, class: 'form-control'
          .form-group
            = f.label :name, 'Product Name:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :description, 'Product Description:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_area :description, class: 'form-control'
          .form-group
            = f.label :price, 'Product Price:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :price, class: 'form-control'
          .form-group
            = f.label :quantity, 'Product Quantity:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :quantity, class: 'form-control'
          .form-group
            = f.label :categories, 'Product Categories:', class: 'col-lg-4 control-label'
            .col-md-8
              .dropdown
                %button#dropdownCategories.btn.btn-default.dropdown-toggle{ 'aria-expanded' => true, 'aria-haspopup' => true, 'data-toggle' => 'dropdown', type: 'button' }
                  %span.hida.caret
                  %p.multiSel
                %ul.dropdown-menu{'aria-labelledby' => 'dropdownCategories'}
                  %ul.multiSelect{multiple: 'multiple'}
                    - @categories.each do |category|
                      %li
                        - if @product.categories.pluck(:id).include?(category.id)
                          %input{type: 'checkbox', value: category.id, name: 'category_ids[]', checked: 'checked'}
                          = category.name
                        - else
                          %input{type: 'checkbox', value: category.id, name: 'category_ids[]'}
                          =category.name
          .col-md-offset-4.col-md-8.update-button
            = f.submit 'Update Product', class: 'btn btn-primary btn-lg center-block'