%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .nav.navbar-nav.navbar-right
      = link_to 'Product List', admin_index_path, class: 'btn btn-default navbar-btn add-product'
.container
  .row
    .col-lg-12
      = form_for @product, html: { class: 'form-horizontal center', id: 'edit-form' } do |f|
        %h1.text-center.edit-header Add New Product
        .form-center
          - if flash[:error]
            #flash.error.text-center
              = flash[:error]
          .form-group
            = f.label :product_image, 'Image url:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :product_image, class: 'form-control'
          .form-group
            = f.label :name, 'Product Name:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :description, 'Product Description:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_area :description, class: 'form-control'
          .form-group
            = f.label :price, 'Product Price:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :price, class: 'form-control'
          .form-group
            = f.label :quantity, 'Product Quantity:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :quantity, class: 'form-control'
          .col-md-12.update-button
            = f.submit 'Add Product', class: 'btn btn-primary btn-lg center-block'